<h1 class="page-header">all baskets</h1>
<% @baskets.each do |basket| %>
  <%= basket.type %>
  <%= basket.instructions %>
  <% if user_signed_in? %>
    <%= link_to 'edit basket', edit_basket_path(@basket.id) %>
  <% end %>
  <p>deliver in <%= basket.time_frame %> minutes </p>
<% end %>
  