<h1 class="page-header"><%= @basket.name %></h1>

  <p>category: <%= @basket.category %></p>
  <p>instructions: <%= @basket.instructions %></p>
  <p>deliver in <%= @basket.time_frame %> minutes </p>

<% @basket.name %> 

